<html>

<head>
    <link rel="stylesheet" href="greet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="row center">
        <div class="col-12" id="p1">


            <p>Hello and welcome! Choose a language, enter your name in the textbox below ,hit greet! And you will be greeted
                in your desired language.</p>
        </div>
    </div>


    {{{body}}}
</body>
{{!--
<script src="greet.js"></script>
<script src="greetLogic.js"></script> --}}



</html>