<html>

<head>
    <link rel="stylesheet" href="/greet.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Great+Vibes|Nunito:200,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<header>
    <div class="nav-wrapper in-block">
        <nav class="center">
            {{!--
            <div id="logo">
                LOGO
            </div> --}}
            <a href="/">HOME</a>
            <a href="/greeted">USERS</a>
            <a href="/admin">ADMIN</a>
        </nav>
    </div>

</header>



<body>
    {{{body}}}
</body>
<footer class="center">
    <p>Made with
        <span id="love"></span> in 2018 by Vusi</p>

</footer>

</html>