<div class="row center admin-start">
    <div class="col-12">
        <form method="POST" action="/admin">
            <button type="submit">RESET</button>
            <h2 class="warning">! WARNING ! </h2>
            <p>
                Resetting the database will delete all users and their data</p>
        </form>

    </div>
</div>