<div class="center row  user-card">

    <div>
        <h1>Hello!</h1>
        <p class="greeted-pg">{{username}}
            <br> has been greeted {{greet_count}} time(s).
        </p>
        <hr>
    </div>
</div>