<div class="row">
    <div class="col-12">
        <h1>User counter</h1>
        <h4></h4>
        {{#each this.greetedUsers}}
        <li>User {{this.name}} has been greeted :{{this.count}} times</li>
        {{/each}}
    </div>
</div>