<div class="row">
    <div class="col-12">
        <h1>This is the counter page</h1>
        <h4>greeted users</h4>
        {{#each this.greetedUsers}}
        <li>{{this.name}}:{{this.count}}</li>
        {{/each}}
    </div>
</div>