<div class="center row  user-card">
    <div class="col-12">
        <div class="card-top">
            {{!--
            <h1>User Counter</h1> --}}
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="card-bottom">
            Username : {{username}}
            <hr>
            <br>Greet Count : {{greet_count}} </li>
            {{!--
            <hr> {{/each}} --}}
        </div>
        <a href="/">
            <button>Home</button>
        </a>
    </div>
</div>