<div class="row center">
    <div class="col-12 greeted in-block">
        <h2>Greeted Users</h2>

        {{#each this.users}}
        <p class="greeted-pg">{{message}}</p>
        <a href="/counter/{{username}}">
            {{username}}
        </a>
        <hr> {{/each}}
    </div>
</div>