<div class="row center" id="">
    <div class="col-12">
        <h1 id="displayName">{{this.userData.greeting}}</h1>
        <h4 class="error-message">{{messages.info}}</h4>
    </div>

</div>


<div class="row center">
    <div class="col-3"></div>
    <div class="col-6 center">
        <form id="userInput" method="POST" action="/greet">
            <input id="inputBox" name="userEnteredName" type="" placeholder="Type in your name here" pattern="[a-zA-Z]+" title="Please enter only letters A-Z">

            <br>
            <div class="in-block col-12 radio-toolbar">

                <input type="radio" name="radioLang" value="English" id="1">

                <label for="1"></label>
                <span>English | </span>
                <input type="radio" name="radioLang" value="Zulu" id="2">

                <label for="2"></label>
                <span>isiZulu | </span>
                <input type="radio" name="radioLang" value="Tsonga" id="3">
                <label for="3"></label>
                <span>xiTsonga</span>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<div class="row center">
    <!--            <div class="col-4"></div>-->

    <!--            <div class="col-4"></div>-->
</div>




<div class="row center ">
    <div class="col-6" id="greetBox">

    </div>


</div>
<div class="row center">
    <div class="col-12 center" id="greetBox">
        <button id="greetBtn" type="submit" form="userInput" value="submit">
            <strong>Greet!</strong>
        </button>
    </div>
</div>
<div class="entry">
</div>
<div class="center">
    <p id="counter-p">
        <strong>
            <span id="countNumber">{{counter}}</span> user(s) have been greeted on this app.
        </strong>
    </p>
</div>