<div class="row center">
    <div class="col-12">
        <h1 id="displayName">{{this.userData.name}}</h1>
    </div>

</div>
<div class="row center">
    <div class="col-3"></div>

    <div class="col-6 center">
        <form id="userInput" method="POST" action="/greet">
            <input id="inputBox" name="userEnteredName" type="" placeholder="Type in your name here" pattern="[a-zA-Z]+" title="Please enter only letters A-Z">

        </form>
    </div>
    <div class="col-3"></div>
</div>

<div class="row center">
    <!--            <div class="col-4"></div>-->
    <div class=" col-12 radio-toolbar">
        <input type="radio" name="radioLang" value="English" id="1">
        <label for="1"> English</label>
        <input type="radio" name="radioLang" value="Zulu" id="2">
        <label for="2">isiZulu</label>
        <input type="radio" name="radioLang" value="Tsonga" id="3">
        <label for="3">xiTsonga</label>
    </div>
    <!--            <div class="col-4"></div>-->
</div>




<div class="row center ">
    <div class="col-6" id="counterAndResetBox">
        <p class="">
            <strong>Counter : &nbsp;
                <span id="countNumber">0</span>
            </strong>
        </p>
        <button id="resetBtn">Reset</button>
    </div>
    <div class="col-6" id="greetBox">
        <!-- <button id="greetBtn" type="submit" form="form1" value="Submit">
                <strong>Greet!</strong>
            </button> -->

    </div>


</div>
<div class="row center">
    <div class="col-12 center" id="greetBox">
        <button id="greetBtn" type="submit" form="userInput" value="submit">
            <strong>Greet!</strong>
        </button>
    </div>