/* UNIVERSAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
}

/* ROOT FONT STYLES */
* {
  /* font-family: 'Lato', Helvetica, sans-serif; */
  /* color: #333447; */
  line-height: 1.5;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  /* font-size: 1.125rem; */
  /* font-weight: 200; */
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (max-width: 44.75em) {

  /* 540px */
  .container {
    width: 80%;
  }

  /*
    #inputBox {
        background-color: lime;

    }
*/
  #inputBox {
    border: 2px solid darkslategray;
    width: 50%;
    height: 50px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
  }

  #greetBtn {
    /* position: rselative; */
    /* top: 1px; */
  }

  #greetBox {
    /* position: relative; */
    /* bottom: 110px; */
  }
}

@media only screen and (min-width: 45em) and (max-width:58em) {
  #counterAndResetBox {
    position: relative;
    right: 8px;
    top: 60px;
  }
}

@media only screen and (min-width: 59em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }

  */ #greetBtn {
    border: 2px solid darkslategray;
    width: 230px;
    height: 60px;
    background-color: white;
    /* background: #333447; */
    /* border-
    radius: 25px; */
  }

  #counterAndResetBox {
    position: relative;
    right: 140px;
    bottom: 173px;
  }
}

/* ==========================Custom CSS here ===========================================*/
/* 
color pallete
#E53D00 - Red
#FFE900 - Yellow
#FCFFF7 - White
*/
/* Navigation */
.nav-wrapper {
  margin-top: 10px;
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: blue;
  z-index: 1;
}

nav a {
  text-decoration: none;
  font-size: 28px;
  margin: 20px;
  color: white;
  border: 1px solid;
  padding: 5px 10px;
  position: relative;
  top: 25px;
}

nav a:hover {
  background: gray;
  /* color: black; */
}

#logo {
  float: left;
}

/* Footer */
footer {
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
  color: white;
  background: blue;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#love::before {
  content: '\2665';
}

#love {
  color: red;
  font-size: 32px;
}

body {
  margin-top: 80px;
}

.greeted a {
  text-decoration: none;
  font-size: 26px;
  /* color: lime; */
}

.greeted a:hover {
  font-size: 30px;
  color: lime;
}

.greeted hr {
  width: 350px;
}

.center {
  text-align: center;
}

#inputBox:focus,
#inputBox:active {
  outline: none !important;
  box-shadow: none;
}

#inputBox {
  border: 2px solid darkslategray;
  width: 85%;
  min-width: 300px;
  height: 50px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

#inputBox:hover {
  background-color: darkturquoise;
}

input {
  text-align: center
}

button {
  border: 1px solid darkslategray;
  width: 100px;
  height: 40px;
  background-color: white;
  /* background: #333447; */
}

#greetBtn:hover {
  background-color: darkturquoise;
}

#resetBtn:hover {
  background-color: darkturquoise;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none;
}

#p1 {
  height: 100px;
}

.in-block {
  display: inline-block;
}

/*
#counterAndResetBox {
    position: relative;
    bottom: 50px;
}
*/
/* p {
  display: inline-block;
} */
/*Radio buttons style*/
.radio-toolbar {
  margin-top: 10px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 50%;
}

.radio-toolbar span {
  font-size: 18px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: gray;
}

#counter-p {
  font-size: 17px;
  /* font-family: 'Aldrich'; */
}

.error-message {
  color: red;
}

.admin-start {
  margin-top: 25px;
}

.warning {
  color: red;
}